@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor_degra: #480325, #421D65, #484CAE, #6D81E0;
}

html {
    background-color: rgba(0, 0, 0, 0.301);
}

h1 {
    margin-bottom: 30px;
}

#login {
    background-image: linear-gradient(120deg, var(--cor_degra));
    width: 400px;
    height: 300px;
    border-radius: 20px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input {
    
    margin-bottom: 20px;
    background: none;
    border: none;
    border-bottom: 1px solid purple;
    
}

#check {
    display: inline-block;
    margin-bottom: 20px;
}

.button {
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    border: none;
}